@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Semibold.woff2') format('woff2'), url('./ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Bold.woff2') format('woff2'), url('./ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Regular.woff2') format('woff2'), url('./ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Light.woff2') format('woff2'), url('./ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

:root{
    --main: #2F80ED;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}













































































































.container {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    border: 1px solid red; /* Для визуализации */
  }
  
  /* 1770+ (Большие десктопы) */
  .container {
    max-width: 1760px;
    padding: 0 80px;
  }
  
  /* 1281-1769px (Основной десктоп - начинаем с этого) */
  @media (max-width: 1769px) {
    .container {
      max-width: 1440px;
      padding: 0 40px;
    }
  }
  
  /* 1024-1280px (Горизонтальные планшеты/малые ноутбуки) */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
      padding: 0 30px;
    }
  }
  
  /* 768-1023px (Вертикальные планшеты) */
  @media (max-width: 1023px) {
    .container {
      max-width: 768px;
      padding: 0 40px;
    }
  }
  
  /* 0-767px (Мобильные устройства) */
  @media (max-width: 767px) {
    .container {
      max-width: 100%;
      padding: 0 20px;
    }
  }